<!DOCTYPE html>
<html lang="en">
<%- include('head', { title }); %>
<body>
  <%- include('header'); %>
  <br />
  <br />
  <div id="main-result" class="container">
    <%- include('tenants/index', { tenantTable }); %>
  </div>
  <br />

  <%- include('auth/index') %>

  <%- include('button'); %>
  
  <%- include('footer'); %>

  <!-- Include htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>

  <!-- main -->
  <script>
    document.addEventListener('htmx:configRequest', function (event) {
      var token = '123'; // getJWTToken(); // Implement this function to retrieve the JWT token
      if (token) {
        event.detail.headers['Authorization'] = 'Bearer ' + token;
      }
    });
  </script>
</body>
</html>
