<!DOCTYPE html>
<html lang="en">
<%- include('app/head', { title }); %>
<body class="has-fixed-sidenav">
  <%- include('app/header'); %>

  <%- include('header'); %>
  <%- include('navigation'); %>
  <%- include('breadcrumb', {
    links: [
      { name: `IMS`, url: `/` },
      { name: `Homepage`, url: `/` },
      { name: `Get`, url: `/` },
    ]
  }); %>

  <br />
  <br />
  <div id="main-result" class="container">
    test
  </div>
  <br />

  <%- include('auth/index') %>
  <%- include('footer'); %>
  <%- include('session'); %>

  <!-- Include htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>

  <!-- main -->
  <script>
    document.addEventListener('htmx:configRequest', function (event) {
      var token = '123'; // getJWTToken(); // Implement this function to retrieve the JWT token
      if (token) {
        event.detail.headers['Authorization'] = 'Bearer ' + token;
      }
    });
  </script>
</body>
</html>
